@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto:400,400i,700');

$bodyFontColor: #4A4A4A;

html {
	font-size: 100%;
}

*, html, body {
	font-family: 'Roboto', sans-serif;
	color: $bodyFontColor;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather', serif;

	div { font-size: inherit; font-family: inherit; display: inline-block; }
}

h1 {
	font-size: 18rem;
    margin: 0;
    line-height: 0.8em;

    & div.header-found {
	    transform: rotate(180deg);
	}
}

header {
	padding: 3rem 1rem;
}

img {
	width: 100%;
}

main {
	// margin: 3rem;
}

article {
	line-height: 1.6em;
    font-size: 2.3em;
    letter-spacing: 2px;

	img {
		&.post-banner {
			// border-radius: 15px;
		}
	}

	.inner {
		margin: 0 1em;
	}
}